*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{
    max-width: 600px;
    padding:20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    
}

.form_control{
    display: flex;
    flex-direction: column;
}

input,select,textarea{
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
}

input,select,textarea:focus{
    outline-color: green;
}

.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;

}

button{
    background-color:lightgreen;
    border: transparent solid 2px;
    border-radius: 5px;
    padding: 5px 5px;
    transition: 0.2s ease-in;
}

button:hover{
    background-color: red;
    color: white;
    transition: 0.2s ease-out;

}

.textarea_control{
    grid-column:1/span 2;
}

.textarea_control{
    width:100%;
}

@media(max-width: 460px){
    .textarea_control{
        grid-column: 1/span 2;
    }
}

