a:link{
    color:lawngreen;
}

a:visited{
    color:grey;
}

a:hover{
    color:tomato;
}

a:active{
    color:yellow;
}

button:hover{
    color:blue;
}

button:active{
    background-color: burlywood;

}

/*
li:nth-child(1){
    background-color:darksalmon;
}
*/

/*
li:nth-child(even){
    background-color:aqua;
}

li:nth-child(odd){
    background-color: peru;
}
*/

/*
li:nth-child(3n){
    background-color: olive;
}
*/

li:nth-child(2n+1){
    background-color:wheat;
}



