*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:black;
    
    
}



.list{
    list-style-type: style type;;
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center;
    right: 3%;
    color: white;
  }

   
.pimg1{
    background-image: url(images/WebBackground.jpg);
    min-height: 100%;
}
.pimg2{
    background-image: url(images/WebArt8.jpg);
    min-height: 400px;
}
.pimg3{
    background-image: url(images/WebArt12.jpg);
    min-height: 400px;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-attachment: fixed == parallax
    background-attachment: scroll == normal*/
}

.ptext1{
    position: absolute;
    top: 50%;
    
    width: 100%;
    text-align:center;
    
    color: black;
    font-size: 30px;
    letter-spacing: 10px;
  
  }

  .imgBg1{
    background: #313534;
    color: #fff;
    padding: 25px;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align:center;
  
  color: black;
  font-size: 27px;
  letter-spacing: 8px;

}

.imgBg {
    background: #313534;
    color: #fff;
    padding: 20px;
}
.section{
padding: 50px 80px;
text-align: center;
}
.section-light {
background-color: #f4f4f4;
color:black;
}
.section-dark {
background-color: #282e34;
color:#ddd;
}